@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap);/* */

:root {
  --blue-color: #81a1b1;
  --dark-green: #76af8b;
  --light-green: #c3ddc4;
  --clay-color: #7a725a;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.logo {
  background: url(/logo.png?cda985d55b6152f34b6393e2bf955649);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 156px;
  height: 60px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 200px 0 100px;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36px;
  height: 24px;
}

.menu span {
  width: 36px;
  height: 4px;
  border-radius: 2px;
  background-color: #76af8b;
}

.nav-list {
  width: 100%;
  max-width: 400px;
  position: fixed;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 0 4px #ccc;
  padding: 320px 100px 6px 50px;
  bottom: 100%;
  top: 0;
  height: fit-content;
  transition: all 0.3s;
  visibility: hidden;
  padding-right: 24px;
  height: 100vh;
  right: 0;
  transform: translateX(100%);
}

.nav-list .close {
  position: absolute;
  left: 25px;
  top: 15px;
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.nav-list .close::after, .nav-list .close::before {
  position: absolute;
  content: '';
  width: 36px;
  height: 3px;
  top: 12px;
  right: 2px;
  border-radius: 3px;
  background: #81a1b1;
  transform: rotate(-45deg);
}

.nav-list .close::before {
  transform: rotate(45deg);
}

.nav-list .nav-item a {
  display: block;
  padding: 6px;
  color: #81a1b1;
  transition: background 0.2s;
  border-radius: 2px;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  margin: 6px 0;
}

.nav-list .nav-item a:hover {
  background: rgba(129, 161, 177, 0.2);
}

.nav-list:target {
  opacity: 1;
  right: 0;
  transform: translateX(0%);
  visibility: visible;
}

.about,
.whatwedo-1,
.whatwedo-2,
.history-1,
.history-2,
.membership-1,
.membership-2,
.get {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.about {
  background-image: url(/block-1.jpg?ee547de8f66c1f4eb4f3d6a64f024116);
  background-size: cover;
  padding-top: 100px;
  min-height: calc(100vh - 100px);
}

.whatwedo-1 {
  background-image: url(/block-2.jpg?3cb85bc68d302dc87cc55118eb8ffc9b);
}

.whatwedo-2 {
  background-image: url(/block-3.jpg?cc41df4e91c2a02e7f21a7eb207db1ea);
}

.history-1 {
  background-image: url(/block-4.jpg?9223bc49e516a1cbf637a029453c27fb);
}

.history-2 {
  background-image: url(/block-5.jpg?c180ae4de423047ad1eae456b3397238);
}

.membership-1 {
  background-image: url(/block-6.jpg?7f191fd64e7057bf782461e0bf550a01);
}

.membership-2 {
  background-image: url(/block-7.jpg?08b09d3c927a97f0d78698e3206258f8);
  min-height: 80vh;
}

.get {
  background-image: url(/block-8.jpg?92b1e605c23aeb35a8198a6bf53b56c2);
}

.get .title {
}

.main-title {
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 50px;
}

.main-title span {
  color: #ffeebb;
}

.about .main-title {
  font-size: 46px;
  line-height: 54px;
  max-width: 560px;
}

.about .main-title::after,
.history-2 .main-title::after,
.whatwedo-1 .main-title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -48px;
  width: 113px;
  height: 4px;
  background: #fff;
}

.whatwedo-1 .main-title {
  max-width: 630px;
}

.history-2 .main-title {
  font-size: 46px;
  line-height: 54px;
  margin-bottom: 100px;
}

.get .content {
  display: flex;
}

.about .about-content {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.about .about-content .column {
  flex-basis: 48%;
}

.about .about-content p {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 300;
}

.about .about-content p .link {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 300;
}

.paragraf {
  display: flex;
  align-items: center;
}

.image-play {
  background: url(/play.png?49bc5393948eb38addbb11b1e7b69da0) no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  display: block;
  flex-shrink: 0;
  margin-right: 20px;
  opacity: 0.9;
  transition: all 0.2s;
}

.image-play:hover {
  opacity: 1;
}

.image-play:active {
  transform: scale(0.95);
}

.proptect-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.proptect-content .column {
  flex-basis: 48%;
}
.proptect-content p {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}
.proptect-content ul {
  padding-left: 24px;
}
.proptect-content li {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  padding: 12px 0;
  font-weight: 300;
}
.proptect-content .column:first-child p {
  max-width: 400px;
}

.whatwedo-1 {
  position: relative;
}

.whatwedo-1 .get-wrapper .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.whatwedo-1 .get-wrapper {
  background: #81a1b1;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.whatwedo-1 .get-wrapper p {
  max-width: 840px;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  font-weight: 300;
}

.whatwedo-1 .get-wrapper .get-link {
  width: 100%;
  max-width: 280px;
  border-radius: 40px;
  background: #fff;
  line-height: 76px;
  color: #81a1b1;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  transition: color 0.1s;
  font-weight: 300;
}

.whatwedo-1 .get-wrapper .get-link:hover {
  color: #475d68;
}

.title-quote {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 400px;
}

.title-quote p {
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffeebb;
}

.title-quote .author {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
}

.whatwedo-2 .content {
  color: #fff;
}

.whatwedo-2 .container {
  position: relative;
}

.whatwedo-2 {
  overflow: hidden;
}

.whatwedo-2 .content p.working {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  max-width: 900px;
  margin-top: 100px;
  letter-spacing: 0.02em;
  position: relative;
  font-weight: 300;
}

.whatwedo-2 .content p.working::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 113px;
  height: 4px;
  background: #fff;
}

.whatwedo-2 .xata {
  background: url(/xata.png?a614a19f54509b2b57504d6de1ab500b) no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 700px;
  height: 800px;
  right: -260px;
  bottom: -180px;
}

.whatwedo-2 .content .man {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.whatwedo-2 .content .man .name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 8px;
}

.whatwedo-2 .content .man .linkedin {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  width: 100px;
  transition: transform 0.1s;
}
.whatwedo-2 .content .man .linkedin:hover {
  text-decoration: underline;
}

.whatwedo-2 .content .man .linkedin:active {
  transform: scale(0.95);
}

.whatwedo-2 .content .man .linkedin svg {
  margin-right: 11px;
}

.whatwedo-2 .content .report {
  font-size: 22px;
  line-height: 26px;
  padding: 12px 0 0;
  font-weight: 300;
}

.whatwedo-2 .content .report span {
  font-weight: bold;
  color: #ffeebb;
}

.whatwedo-2 .content p {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  font-weight: 300;
}

.whatwedo-2 .content ul {
  padding-left: 24px;
  max-width: 650px;
}

.whatwedo-2 .content ul li {
  font-size: 22px;
  line-height: 26px;
  padding: 6px 0;
}

.whatwedo-2 .content ul li span {
  font-weight: bold;
  color: #ffeebb;
}

.history-1 .content {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  max-width: 1000px;
  margin-top: 60px;
  position: relative;
}
.history-1 .title-quote {
  max-width: 590px;
}
.history-1 .title-quote p {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 10px;
}
.history-1 .title-quote .author {
  font-weight: 300;
  font-size: 28px;
}

.history-1 .content:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 113px;
  height: 4px;
  background: #fff;
}

.history-1 .founder {
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: auto;
}

.history-1 .container {
  max-width: 1000px;
}

.history-1 .founder .photo {
  background: url(/ava.png?b967bc3480a9fd9a6483ef5e01e8e29c) no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin-right: 24px;
}

.history-1 .founder .name {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  padding-bottom: 6px;
}

.history-1 .founder .proff {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.history-2 .content {
  display: flex;
  justify-content: space-between;
}

.history-2 .content .column {
  flex-basis: 48%;
}

.history-2 .content .column p {
  font-size: 22px;
  color: #fff;
  line-height: 26px;
  font-weight: 300;
}

.history-2 .subtitle {
  padding-top: 100px;
  color: #fff;
  font-weight: 300;
  opacity: 0.8;
}

.membership-1 .title-quote {
  max-width: 470px;
}

.membership-1 .title-quote p {
  font-size: 30px;
}

.membership-1 .container {
  padding: 100px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
}

.membership-1 .container ul {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.membership-1 .container ul li {
  flex-basis: 46%;
}

.membership-1 .content {
  margin-top: 100px;
  position: relative;
}

.membership-1 .content::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 113px;
  height: 4px;
  background: #fff;
}

.membership-1 .content .content-title {
  font-size: 28px;
}

.membership-2 .title {
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.membership-2 .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 300;
  color: #fff;
  position: relative;
}

.membership-2 .subtitle::after {
  position: absolute;
  content: "";
  width: 113px;
  height: 4px;
  background: #fff;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.membership-2 .container {
  max-width: 800px;
}
.membership-2 .container p {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  padding: 12px 0;
}

.membership-2 .content {
  display: flex;
  justify-content: space-between;
}

.membership-2 .content .column {
  flex-basis: 48%;
}

.membership-2 .content .column ul {
  padding-left: 24px;
  color: #fff;
}
.membership-2 .content .column ul li {
  font-weight: 300;
  padding: 6px 0;
}

.membership-2 .content .column ul li span {
  font-weight: 400;
  color: #ffeebb;
}

.membership-2 .link {
  background: #fff;
  border-radius: 40px;
  font-size: 28px;
  line-height: 24px;
  font-size: 28px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #81a1b1;
  font-weight: 300;
  padding: 16px 48px;
  margin: 70px auto 40px;
  transition: color 0.1s;
}

.membership-2 .link:hover {
  color: #425d6b;
}

.membership-2 .sublink {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.8;
}

.get .title {
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  margin-bottom: 100px;
}

.get .title::after {
  position: absolute;
  content: "";
  width: 113px;
  height: 4px;
  background: #fff;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.get .container {
  padding: 200px 0;
}
.get .content {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-right: -50px;
}

.get .content ul {
  padding-left: 20px;
  margin-bottom: 6px;
}
.get .content .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.get .content ul li {
  padding: 6px 0;
  font-weight: 300;
  font-size: 22px;
}

.get .content .column {
  flex-basis: 22%;
}

.get .content .column p {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #ffeebb;
  margin-top: 10px;
}

.get .content .column .create {
  font-size: 18px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #fff;
  font-weight: 300;
}

.get .content .column .link {
  background: #fff;
  border-radius: 40px;
  font-size: 28px;
  line-height: 24px;
  font-size: 28px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #81a1b1;
  font-weight: 300;
  padding: 24px;
  margin: 30px auto 40px;
  display: block;
  transition: color 0.1s;
}

.get .content .column .link:hover {
  color: #415763;
}

@media (min-width: 320px) {
  .logo {
    width: 100px;
  }
  .nav-list {
    padding-top: 200px;
  }

  .about .main-title {
    font-size: 27px;
    line-height: 36px;
  }
  header {
    padding: 0 15px;
  }

  .container {
    padding: 80px 24px;
  }
  .about {
    background: url(/block-1.jpg?ee547de8f66c1f4eb4f3d6a64f024116) no-repeat, #437252;
    background-position: center 80px;
    background-size: 200%;
    background-repeat: no-repeat;
    padding-top: 150px;
  }
  .about-header {
    background: url(/shato.png?1774833ce79cdefcc797c0b85ee845cf) no-repeat;
    background-position: right bottom;
    background-size: 90px;
  }
  .about .about-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .about .about-content p .link {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
  }
  .about .about-content {
    flex-direction: column;
    padding-top: 0;
  }
  .whatwedo-1 {
    background-image: url(/block-2-mob.jpg?10c7c17ecc2a5e9107f818296ad6650e);
  }
  .proptect-content {
    flex-direction: column;
    padding-bottom: 240px;
  }
  .proptect-content p {
    font-size: 16px;
  }
  .proptect-content ul {
    margin: 0;
  }
  .proptect-content li {
    font-size: 16px;
    padding: 6px 0;
  }
  .whatwedo-1 .get-wrapper .container {
    flex-direction: column;
    padding: 24px;
  }
  .whatwedo-1 .get-wrapper p {
    font-size: 16px;
  }
  .whatwedo-1 .get-wrapper .get-link {
    font-size: 16px;
    line-height: 44px;
  }
  .whatwedo-2 {
    background: url(/block-3-mob.jpg?547ce7c1e0ba0ef998114b61926c6c41) no-repeat, #5C707D;
    background-position: center top;
    background-size: 100%;
    padding-top: 240px;
  }
  .whatwedo-2 .content p.working {
    font-size: 16px;
    margin-top: 50px;
  }
  .whatwedo-2 .content p.working::before {
    height: 2px;
    top: -30px;
  }
  .whatwedo-2 .content .man {
    height: 200px;
    background: url(/xata.png?a614a19f54509b2b57504d6de1ab500b) no-repeat;
    background-position: right top;
    background-size: 180px;
    padding: 30px 0 0;
  }
  .whatwedo-2 .content .man .name {
    font-size: 20px;
  }
  .whatwedo-2 .content .man .linkedin {
    font-size: 16px;
  }
  .whatwedo-2 .xata {
    display: none;
  }

  .whatwedo-2 .content .report, .whatwedo-2 .content p, .whatwedo-2 .content ul li {
    font-size: 16px;
    font-weight: 300;
  }
  .title-quote p {
    font-size: 15px;
    line-height: 20px;
  }
  .title-quote .author {
    font-size: 14px;
    font-weight: 300;
  }
  .history-1 {
    background: url(/block-4-mob.jpg?40cf3da8f54dd93442fc7cd14158e6a4) no-repeat, #7fa877;
    padding-top: 100px;
    background-size: 100%;
  }
  .history-1 .title-quote p {
    font-size: 19px;
    line-height: 24px;
  }
  .history-1 .title-quote .author {
    font-size: 16px;
  }
  .history-1 .content {
    font-size: 16px;
    line-height: 24px;
  }
  .history-1 .founder {
    margin-left: 0;
  }
  .history-1 .founder .name {
    font-size: 20px;
    padding-bottom: 0;
  }
  .history-1 .founder .proff {
    font-size: 16px;
  }
  .history-2 .content {
    flex-direction: column;
  }
  .history-2 .main-title {
    font-size: 25px;
    line-height: 36px;
    margin-bottom: 50px;
  }
  .about .main-title::after, .history-2 .main-title::after, .whatwedo-1 .main-title::after {
    height: 2px;
    bottom: -30px;
  }
  .history-2 .content .column p {
    font-size: 16px;
    line-height: 24px;
  }
  .history-2 .subtitle {
    padding-top: 12px;
    font-size: 14px;
  }
  .membership-1 .container {
    padding: 80px 24px;
    font-size: 18px;
  }
  .membership-1 .title-quote p {
    font-size: 20px;
  }
  .membership-1 .content {
    margin-top: 50px;
  }
  .membership-1 .content::before {
    top: -30px;
    height: 2px;
  }
  .membership-1 .container ul {
    flex-direction: column;
    margin: 0;
    padding: 10px 16px 0;
  }
  .membership-1 .container ul li {
    padding: 6px 0;
  }
  .membership-1 .content .content-title {
    font-size: 18px;
  }
  .membership-2 .title {
    font-size: 26px;
    line-height: 30px;
  }
  .membership-2 .subtitle {
    font-size: 16px;
  }
  .membership-2 .subtitle::after {
    height: 2px;
    bottom: -15px;
  }
  .membership-2 .container p {
    font-size: 16px;
    line-height: 24px;
  }
  .membership-2 .content {
    flex-direction: column;
  }
  .membership-2 .content .column ul {
    margin: 0;
  }
  .membership-2 .link {
    font-size: 14px;
    line-height: 20px;
    margin: 40px auto 20px;
    padding: 8px 48px;
  }
  .membership-2 .sublink {
    font-size: 18px;
  }
  .get .container {
    padding: 80px 24px;
  }
  .get .title {
    font-size: 26px;
  }
  .get .content {
    margin-right: 0;
    flex-wrap: wrap;
  }
  .get .content .column {
    flex-basis: 44%;
    padding-bottom: 30px;
  }
  .get .content .subtitle {
    font-size: 15px;
    line-height: 18px;
  }
  .get .content .column p {
    font-size: 14px;
  }
  .get .content ul li {
    font-size: 16px;
  }
  .get .content .column .create {
    font-size: 14px;
  }
  .get .content .column .link {
    font-size: 14px;
    line-height: 12px;
    padding: 16px;
  }
  .main-title {
    font-size: 24px;
    line-height: 36px;
  }
  header {
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .nav-list .close {
    top: 30px;
    left: 50px;
  }
  .nav-list {
    padding: 100px 0 0 30px;
  }
  .container {
    max-width: 1000px;
    padding-top: 100px;
  }
  .about .container {
    padding-top: 0;
  }
  header {
    padding: 0px;
  }
  .container {
    padding: 100px 24px;
  }
  .about {
    background: url(/block-1.jpg?ee547de8f66c1f4eb4f3d6a64f024116) no-repeat, #437252;
    background-position: center 80px;
    background-size: 200%;
    background-repeat: no-repeat;
    padding-top: 150px;
  }
  .about-header {
    background: url(/shato.png?1774833ce79cdefcc797c0b85ee845cf) no-repeat;
    background-position: right bottom;
    background-size: 90px;
    background: none;
  }
  .about .about-content {
    background: url(/shato.png?1774833ce79cdefcc797c0b85ee845cf) no-repeat;
    background-position: right 100%;
    padding-bottom: 50px;
    background-size: 130px;
  }
  .about .about-content {
    flex-direction: row;
    padding-top: 0;
  }
  .whatwedo-1 {
    background-image: url(/block-2.jpg?3cb85bc68d302dc87cc55118eb8ffc9b);
  }
  .whatwedo-1 .container {
    padding-top: 60px;
  }
  .proptect-content {
    flex-direction: row;
    padding-bottom: 0px;
  }
  .whatwedo-1 .get-wrapper .container {
    flex-direction: row;
    padding: 0 24px;
  }
  .whatwedo-2 {
    background: url(/block-3.jpg?cc41df4e91c2a02e7f21a7eb207db1ea) no-repeat, #5C707D;
    background-position: center top;
    background-size: cover;
    padding-top: 100px;
  }
  .whatwedo-2 .content .man {
    height: fit-content;
    background: none;
    padding: 12px 0 12px;
  }
  .whatwedo-2 .xata {
    display: block;
    background-size: 500px;
    background-position: right bottom;
  }
  .history-1 {
    background: url(/block-4.jpg?9223bc49e516a1cbf637a029453c27fb) no-repeat, #7fa877;
    padding-top: 60px;
    background-size: cover;
  }
  .history-2 .content {
    flex-direction: row;
  }
  .membership-1 .container ul {
    flex-direction: row;
  }
  .membership-1 .container ul li {
    padding: 12px 0;
  }
  .membership-2 .content {
    flex-direction: row;
  }
  .get .container {
    padding: 80px 24px;
  }
  .get .title {
    font-size: 26px;
  }
  .get .content {
    margin-right: 0;
    flex-wrap: nowrap;
  }
  .get .content .column {
    flex-basis: 22%;
    padding-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .logo {
    width: 150px;
  }
  .nav-list {
    padding: 372px 0 0 50px;
  }
  .nav-list .close {
    top: 40px;
    left: 55px;
  }
  header {
    height: 80px;
  }
  .whatwedo-2 .container {
    max-width: 1300px;
  }
  .container {
    padding: 100px 0;
    max-width: 1300px;
  }

  .about .main-title {
    font-size: 46px;
    line-height: 54px;
    margin-left: 0;
    margin-bottom: 60px;
  }
  .about .about-content p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .about .about-content p .link {
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: underline;
  }

  .main-title {
    font-size: 46px;
    line-height: 54px;
  }

  .proptect-content {
    padding-bottom: 0px;
  }
  .proptect-content p {
    font-size: 24px;
  }
  .proptect-content ul {
    margin: 0;
  }
  .proptect-content li {
    font-size: 24px;
    padding: 12px 0;
  }
  .whatwedo-1 .get-wrapper .container {
    padding: 12px 0;
  }
  .whatwedo-1 .get-wrapper p {
    font-size: 18px;
  }
  .whatwedo-1 .get-wrapper .get-link {
    font-size: 24px;
    line-height: 44px;
    max-width: 240px;
    margin-left: 40px;
  }

  .whatwedo-2 .content p.working {
    font-size: 22px;
    margin-top: 100px;
  }
  .whatwedo-2 .content p.working::before {
    height: 4px;
    top: -50px;
  }
  .whatwedo-2 .xata {
    background-size: 680px;
    height: 950px;
    background-position: right 10%;
  }
  .whatwedo-2 .content .man .name {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 8px;
  }
  .whatwedo-2 .content .man .linkedin {
    font-size: 20px;
  }

  .whatwedo-2 .content .report, .whatwedo-2 .content p, .whatwedo-2 .content ul li {
    font-size: 22px;
    font-weight: 300;
  }
  .title-quote {
    max-width: 450px;
  }
  .title-quote p {
    font-size: 26px;
    line-height: 47px;
  }
  .title-quote .author {
    font-size: 23px;
    font-weight: 300;
  }
  .history-1 {
    background-size: cover;
  }
  .history-1 .title-quote p {
    font-size: 30px;
    line-height: 47px;
  }
  .history-1 .title-quote .author {
    font-size: 24px;
  }
  .history-1 .content {
    font-size: 24px;
    line-height: 28px;
  }
  .history-1 .founder {
    margin-left: auto;
  }
  .history-1 .founder .name {
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 4px;
  }
  .history-1 .founder .proff {
    font-size: 24px;
    line-height: 28px;
  }
  .history-2 .main-title {
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 100px;
  }
  .about .main-title::after, .history-2 .main-title::after, .whatwedo-1 .main-title::after {
    height: 5px;
    bottom: -50px;
  }
  .history-2 .content .column p {
    font-size: 22px;
    line-height: 26px;
  }
  .history-2 .subtitle {
    font-size: 20px;
    line-height: 23px;
  }
  .membership-1 .container {
    padding: 80px 24px;
    font-size: 18px;
  }
  .membership-1 .title-quote p {
    font-size: 30px;
  }
  .membership-1 .content {
    margin-top: 100px;
    font-size: 24px;
line-height: 28px;
  }
  .membership-1 .content::before {
    top: -50px;
    height: 4px;
  }
  .membership-1 .container ul {
    flex-direction: column;
    margin: 0;
    padding: 10px 16px 0;
  }
  .membership-1 .container ul li {
    padding: 6px 0;
    font-size: 24px;
    line-height: 28px;
  }
  .membership-1 .content .content-title {
    font-size: 28px;
    line-height: 33px;
  }
  .membership-2 .title {
    font-size: 46px;
    line-height: 54px;
  }
  .membership-2 .subtitle {
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 24px;
  }
  .membership-2 .subtitle::after {
    height: 4px;
    bottom: -15px;
  }
  .membership-2 .container {
    padding: 100px 0;
    max-width: 900px;
  }
  .membership-2 .container p {
    font-size: 22px;
    line-height: 26px;
  }
  .membership-2 .content .column ul {
    margin: 0;
  }
  .membership-2 .content .column ul li {
    font-size: 22px;
    line-height: 26px;
    padding: 12px 0;
  }
  .membership-2 .link {
    font-size: 28px;
    line-height: 24px;
    margin: 70px auto 30px;
    padding: 16px 30px;
  }
  .membership-2 .sublink {
    font-size: 20px;
    line-height: 23px;
  }
  .get {
    background-position: center;
  }
  .get .container {
    padding: 160px 0;
  }
  .get .title {
    font-size: 26px;
    font-size: 46px;
    line-height: 54px;
  }
  .get .content .subtitle {
    font-size: 24px;
    line-height: 28px;
  }
  .get .content .column p {
    font-size: 20px;
    line-height: 23px;
  }
  .get .content ul li {
    font-size: 22px;
  }
  .get .content .column .create {
    font-size: 18px;
  }
  .get .content .column .link {
    font-size: 28px;
    line-height: 24px;
    padding: 24px 16px;
  }
  .get .content {
    margin-right: -50px;
  }
  .get .content .column {
    flex-basis: 24%;
  }
}
