@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap);/* */

@font-face {
  font-family: 'Trebuchet MS';
  src: url(/TrebuchetMS-Bold.eot?ca7ac163de240c9e7d6fc018ad0f4dad);
  src: local('Trebuchet MS Bold'), local('TrebuchetMS-Bold'),
      url(/TrebuchetMS-Bold.eot?ca7ac163de240c9e7d6fc018ad0f4dad?#iefix) format('embedded-opentype'),
      url(/TrebuchetMS-Bold.woff?9b45a5e6fd7e43502d74c1cf2bb77ded) format('woff'),
      url(/TrebuchetMS-Bold.ttf?7afeaf2b8e5fee8b3332318a9f216092) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url(/TrebuchetMS.eot?be77a7db37f37471cff8616dc5b875c5);
  src: local('Trebuchet MS'), local('TrebuchetMS'),
      url(/TrebuchetMS.eot?be77a7db37f37471cff8616dc5b875c5?#iefix) format('embedded-opentype'),
      url(/TrebuchetMS.woff?34723a2fbef5882977e8392d020956af) format('woff'),
      url(/TrebuchetMS.ttf?530d3166bc7f3ee970eec68df2a2bd2e) format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue-color: #81a1b1;
  --dark-green: #76af8b;
  --light-green: #c3ddc4;
  --clay-color: #7a725a;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Trebuchet MS';
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.logo {
  background: url(/logo.png?cda985d55b6152f34b6393e2bf955649);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 156px;
  height: 60px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 200px 0 100px;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36px;
  height: 24px;
}

.menu span {
  width: 36px;
  height: 4px;
  border-radius: 2px;
  background-color: #76af8b;
}

.nav-list {
  width: 100%;
  max-width: 400px;
  position: fixed;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 0 4px #ccc;
  padding: 320px 100px 6px 50px;
  bottom: 100%;
  top: 0;
  height: fit-content;
  transition: all 0.3s;
  visibility: hidden;
  padding-right: 24px;
  height: 100vh;
  right: 0;
  transform: translateX(100%);
}

.nav-list .close {
  position: absolute;
  left: 25px;
  top: 15px;
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.nav-list .close::after, .nav-list .close::before {
  position: absolute;
  content: '';
  width: 36px;
  height: 3px;
  top: 12px;
  right: 2px;
  border-radius: 3px;
  background: #81a1b1;
  transform: rotate(-45deg);
}

.nav-list .close::before {
  transform: rotate(45deg);
}

.nav-list .nav-item a {
  display: block;
  padding: 6px;
  color: #81a1b1;
  transition: background 0.2s;
  border-radius: 2px;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  margin: 6px 0;
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  display: none;
}

.buttonForm {
  font-weight: 300;
  font-size: 20px;
  background: transparent;
  border: 0;
  color: #81a1b1;
  transition: background 0.2s;
  text-transform: uppercase;
  margin-top: 6px;
  font-family: 'Trebuchet MS';
}

.nav-list .nav-item a:hover {
  background: rgba(129, 161, 177, 0.2);
}

.nav-list:target {
  opacity: 1;
  right: 0;
  transform: translateX(0%);
  visibility: visible;
}

.section-page {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.about {
  background-image: url(/block-1.jpg?ee547de8f66c1f4eb4f3d6a64f024116);
  background-size: cover;
  padding-top: 100px;
  min-height: calc(100vh - 100px);
}

.whatwedo-1 {
  background-image: url(/block-2.jpg?3cb85bc68d302dc87cc55118eb8ffc9b);
}

.whatwedo-1 .content {
  background: #618293;
}

.history-1 {
  background-image: url(/block-4.jpg?9223bc49e516a1cbf637a029453c27fb);
}

.history-1 .content {
  background: #436851;
}

.history-2 {
  background-image: url(/block-5.jpg?c180ae4de423047ad1eae456b3397238);
}

.history-2 .content {
  background: #608293;
}

.history-2 .content .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.history-2 .content .container .subtitle {
  margin-right: auto;
}

.membership-1 {
  background-image: url(/block-6.jpg?7f191fd64e7057bf782461e0bf550a01);
}

.membership-1 .content {
  background: #608293;
}

.membership-2 {
  background-image: url(/block-7.jpg?08b09d3c927a97f0d78698e3206258f8);
  min-height: 80vh;
}

.membership-2 .content {
  background: #436851;
}

.get {
  background-image: url(/block-8.jpg?92b1e605c23aeb35a8198a6bf53b56c2);
}

.main-title {
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  margin-top: 80px;
}

.main-title span {
  color: #ffeebb;
}

.about .main-title {
  font-size: 44px;
  line-height: 52px;
  max-width: 560px;
  background-color: #436851;
  color: #fff;
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-highlight {
  color: #ffeebb;
}


.whatwedo-1 .main-title {
  max-width: 630px;
}

.history-2 .main-title {
  font-size: 44px;
  line-height: 52px;
  
}

.history-2 .main-title span{
  background: #4A6877;
  color: #fff;
  padding: 10px;
}
.history-2 .main-title span:nth-child(3) {
  margin-left: -14px;
}
.history-2 .main-title .title-highlight {
  color: #ffeebb;
  margin-left: -1px;
}
.get .content {
  display: flex;
}

.main-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40%;
  width: 100%;
}

.content {
  height: 60%;
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .content {
  background:  #436851;
  width: 100%;
}

.about .content .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about .column {
  flex-basis: 48%;
}

.about .content p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 300;
}

.about .content p .link {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 300;
}

.paragraf {
  display: flex;
  align-items: center;
}

.image-play {
  background: url(/play.png?49bc5393948eb38addbb11b1e7b69da0) no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  display: block;
  flex-shrink: 0;
  margin-right: 20px;
  opacity: 0.9;
  transition: all 0.2s;
}

.image-play:hover {
  opacity: 1;
}

.image-play:active {
  transform: scale(0.95);
}

.proptect-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.proptect-content .column {
  flex-basis: 48%;
}
.proptect-content p {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}
.proptect-content ul {
  padding-left: 24px;
}
.proptect-content li {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  padding: 12px 0;
  font-weight: 300;
}
.proptect-content .column:first-child p {
  max-width: 400px;
}

.whatwedo-1 {
  position: relative;
}

.whatwedo-1 .get-wrapper .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.whatwedo-1 .get-wrapper {
  background: #81a1b1;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.whatwedo-1 .get-wrapper p {
  max-width: 840px;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  font-weight: 300;
}

.whatwedo-1 .get-wrapper .get-link {
  width: 100%;
  max-width: 280px;
  border-radius: 40px;
  background: #fff;
  line-height: 76px;
  color: #81a1b1;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  transition: color 0.1s;
  font-weight: 300;
}

.whatwedo-1 .get-wrapper .get-link:hover {
  color: #475d68;
}

.title-quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: auto;
  max-width: 400px;
}

.title-quote p {
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffeebb;
}

.title-quote .author {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
}

.history-1 .content {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-top: 60px;
  position: relative;
}
.history-1 .title-quote {
  max-width: 760px;
}
.history-1 .title-quote span {
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
  background: #436851;
  padding: 6px;
}
.history-1 .title-quote .author {
  font-size: 24px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 10px;
  font-weight: normal;
  padding-top: 0;
}

.history-1 .main-title-wrapper {
  align-items: flex-end;
}

.history-1 .main-title {
  margin-top: 140px;
}

.history-1 .founder {
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: auto;
}

.history-1 .container {
  max-width: 1000px;
}

.history-1 .founder .photo {
  background: url(/ava.png?b967bc3480a9fd9a6483ef5e01e8e29c) no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin-right: 24px;
}

.history-1 .founder .name {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 6px;
}

.history-1 .founder .proff {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}

.history-2 .content {
  display: flex;
  justify-content: space-between;
}

.history-2 .content .column {
  flex-basis: 48%;
}

.history-2 .content .column p {
  font-size: 22px;
  color: #fff;
  line-height: 26px;
  font-weight: 300;
}

.history-2 .subtitle {
  padding-top: 100px;
  color: #fff;
  font-weight: 300;
  opacity: 0.8;
}

.membership-1 .title-quote {
  max-width: 660px;
}

.membership-1 .title-quote p {
  font-size: 44px;
  line-height: 52px;
  font-weight: bold;
}

.membership-1 .container {
  padding: 100px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
}

.membership-1 .container ul {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.membership-1 .container ul li {
  flex-basis: 46%;
}

.membership-1 .content {
  margin-top: 100px;
  position: relative;
}

.membership-1 .content .content-title {
  font-size: 28px;
  font-weight: bold;
}
.membership-1 .content p {
  font-size: 16px;
}
.membership-2 .main-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.membership-2 .title {
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  display: inline;
  color: #fff;
  background-color: #436851;
  padding: 6px;
}



.membership-2 .subtitle {
  font-weight: 300;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.02em;
  font-weight: 300;
  color: #fff;
  display: inline;
  background-color: #436851;
  padding: 6px;
  margin-top: -10px;
}
.membership-2 .container {
  max-width: 800px;
}
.membership-2 .container p {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  padding: 12px 0;
}

.membership-2 .content {
  display: flex;
  justify-content: space-between;
}

.membership-2 .content .column {
  flex-basis: 48%;
}

.membership-2 .content .column ul {
  padding-left: 24px;
  color: #fff;
}
.membership-2 .content .column ul li {
  font-weight: 300;
  padding: 6px 0;
}

.membership-2 .content .column ul li span {
  font-weight: 400;
  color: #ffeebb;
}

.membership-2 .link {
  background: #fff;
  border-radius: 40px;
  font-size: 28px;
  line-height: 22px;
  font-size: 28px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #81a1b1;
  font-weight: 300;
  padding: 16px 48px;
  margin: 70px auto 40px;
  transition: color 0.1s;
}

.membership-2 .link:hover {
  color: #425d6b;
}

.membership-2 .sublink {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.8;
}

.get .title {
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  background: #4A6877;
  padding: 6px 10px;
  max-width: 330px;
  margin: 0 auto 100px;
}

.get .container {
  padding: 200px 0;
}
.get .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ffffff;
  margin-right: -50px;
}

.get .content ul {
  padding-left: 20px;
  margin-bottom: 6px;
}
.get .content .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.get .content ul li {
  padding: 6px 0;
  font-weight: 300;
  font-size: 22px;
}

.get .content ul li a {
  color: #fff;
}

.get .content ul li a:hover {
  text-decoration: underline;
}

.get .content .column {
  flex-basis: 20%;
}

.get .content .column p {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #ffeebb;
  margin-top: 10px;
}

.get .content .column .create {
  font-size: 18px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #fff;
  font-weight: 300;
}

.get .content .column .link {
  background: #fff;
  border-radius: 40px;
  font-size: 28px;
  line-height: 22px;
  font-size: 28px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #81a1b1;
  font-weight: 300;
  padding: 24px;
  margin: 30px auto 40px;
  display: block;
  transition: color 0.1s;
}

.get .content .column .link:hover {
  color: #415763;
}

@media (min-width: 320px) {
  .logo {
    width: 100px;
  }
  .mobile-menu {
    display: flex;
  }
  .nav-list {
    padding-top: 200px;
  }

  .about .main-title {
    font-size: 27px;
    line-height: 36px;
  }
  header {
    padding: 0 15px;
  }

  .container {
    padding: 80px 24px;
  }
  .about {
    background: url(/block-1.jpg?ee547de8f66c1f4eb4f3d6a64f024116) no-repeat, #437252;
    background-position: center 80px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .about-header {
    background: url(/shato.png?1774833ce79cdefcc797c0b85ee845cf) no-repeat;
    background-position: right bottom;
    background-size: 90px;
  }
  .about .about-content p {
    font-size: 16px;
    line-height: 22px;
  }
  .about .about-content p .link {
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
  }
  .about .about-content {
    flex-direction: column;
    padding-top: 0;
  }
  .whatwedo-1 {
    background-image: url(/block-2-mob.jpg?10c7c17ecc2a5e9107f818296ad6650e);
  }
  .proptect-content {
    flex-direction: column;
    padding-bottom: 240px;
  }
  .proptect-content p {
    font-size: 16px;
  }
  .proptect-content ul {
    margin: 0;
  }
  .proptect-content li {
    font-size: 16px;
    padding: 6px 0;
  }
  .whatwedo-1 .get-wrapper .container {
    flex-direction: column;
    padding: 24px;
  }
  .whatwedo-1 .get-wrapper p {
    font-size: 16px;
  }
  .whatwedo-1 .get-wrapper .get-link {
    font-size: 16px;
    line-height: 44px;
  }
  .history-1 {
    background: url(/block-4-mob.jpg?40cf3da8f54dd93442fc7cd14158e6a4) no-repeat, #7fa877;
    padding-top: 100px;
    background-size: 100%;
  }
  .history-1 .title-quote p {
    font-size: 24px;
    line-height: 36px;
  }
  .history-1 .title-quote .author {
    font-size: 16px;
  }
  .history-1 .content {
    font-size: 16px;
    line-height: 22px;
  }
  .history-1 .founder {
    margin-left: 0;
  }
  .history-1 .founder .name {
    font-size: 20px;
    padding-bottom: 0;
  }
  .history-1 .founder .proff {
    font-size: 16px;
  }
  .history-2 .content {
    flex-direction: column;
  }
  .history-2 .main-title {
    font-size: 25px;
    line-height: 36px;
    margin-top: 70px;
  }
  .history-2 .content .column p {
    font-size: 16px;
    line-height: 22px;
  }
  .history-2 .subtitle {
    padding-top: 24px;
    font-size: 14px;
  }
  .membership-1 .container {
    padding: 24px;
    font-size: 16px;
  }
  .membership-1 .title-quote {
    max-width: 400px;
  }
  .membership-1 .title-quote p {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 6px;
  }
  .membership-1 .content {
    margin-top: 50px;
  }
  .membership-1 .container ul {
    flex-direction: column;
    margin: 0;
    padding: 10px 16px 0;
  }
  .membership-1 .container ul li {
    padding: 6px 0;
  }
  .membership-1 .content .content-title {
    font-size: 18px;
  }
  .membership-2 .title {
    font-size: 26px;
    line-height: 30px;
  }
  .membership-2 .subtitle {
    font-size: 16px;
  }
  .membership-2 .container p {
    font-size: 16px;
    line-height: 22px;
  }
  .membership-2 .content {
    flex-direction: column;
  }
  .membership-2 .content-cols {
    display: flex;
  }
  .membership-2 .content .column ul {
    margin: 0;
  }
  .membership-2 .link {
    font-size: 14px;
    line-height: 20px;
    margin: 40px auto 20px;
    padding: 8px 48px;
  }
  .membership-2 .sublink {
    font-size: 18px;
  }
  .get .container {
    padding: 80px 24px;
  }
  .get .title {
    font-size: 26px;
  }
  .get .content {
    margin-right: 0;
    flex-wrap: wrap;
  }
  .get .content .column {
    flex-basis: 44%;
    padding-bottom: 30px;
  }
  .get .content .subtitle {
    font-size: 15px;
    line-height: 18px;
  }
  .get .content .column p {
    font-size: 14px;
  }
  .get .content ul li {
    font-size: 16px;
  }
  .get .content .column .create {
    font-size: 14px;
  }
  .get .content .column .link {
    font-size: 14px;
    line-height: 12px;
    padding: 16px;
  }
  .main-title {
    font-size: 24px;
    line-height: 36px;
  }
  header {
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .nav-list .close {
    top: 30px;
    left: 50px;
  }
  .mobile-menu {
    display: none;
  }
  .desktop-menu {
    display: flex;
  }
  .nav-list {
    padding: 100px 0 0 30px;
  }
  .container {
    max-width: 1000px;
    padding-top: 100px;
  }
  .about .container {
    padding-top: 0;
  }
  header {
    padding: 0px;
  }
  .container {
    padding: 0 24px;
  }
  .about {
    background: url(/block-1.jpg?ee547de8f66c1f4eb4f3d6a64f024116) no-repeat, #437252;
    background-position: center 80px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .about-header {
    background: url(/shato.png?1774833ce79cdefcc797c0b85ee845cf) no-repeat;
    background-position: right bottom;
    background-size: 90px;
    background: none;
  }
  .about .about-content {
    background: url(/shato.png?1774833ce79cdefcc797c0b85ee845cf) no-repeat;
    background-position: right 100%;
    padding-bottom: 0px;
    background-size: 130px;
  }
  .about .about-content {
    flex-direction: row;
    padding-top: 0;
  }
  .whatwedo-1 {
    background-image: url(/block-2.jpg?3cb85bc68d302dc87cc55118eb8ffc9b);
  }
  .whatwedo-1 .container {
    padding-top: 0px;
  }
  .proptect-content {
    flex-direction: row;
    padding-bottom: 0px;
  }
  .whatwedo-1 .get-wrapper .container {
    flex-direction: row;
    padding: 0 24px;
  }
  .history-1 {
    background: url(/block-4.jpg?9223bc49e516a1cbf637a029453c27fb) no-repeat, #7fa877;
    padding-top: 60px;
    background-size: cover;
  }
  .history-2 .content {
    flex-direction: row;
  }
  .membership-1 .container ul {
    flex-direction: row;
  }
  .membership-1 .container ul li {
    padding: 12px 0;
  }
  .membership-2 .content {
    flex-direction: row;
  }
  .get .container {
    padding: 0;
  }
  .get .title {
    font-size: 26px;
  }
  .get .content {
    margin-right: 0;
    flex-wrap: nowrap;
  }
  .get .content .column {
    flex-basis: 20%;
    padding-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .logo {
    width: 150px;
  }
  .nav-list {
    padding: 372px 0 0 50px;
  }
  .nav-list .close {
    top: 40px;
    left: 55px;
  }
  header {
    height: 80px;
  }
  .container {
    padding: 0;
    max-width: 1300px;
  }

  .about .main-title {
    font-size: 44px;
    line-height: 52px;
    margin-left: 0;
    margin-bottom: 60px;
  }
  .about .about-content p {
    font-size: 16px;
    line-height: 22px;
  }
  .about .about-content p .link {
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
  }

  .main-title {
    font-size: 44px;
    line-height: 52px;
  }

  .proptect-content {
    padding-bottom: 0px;
  }
  .proptect-content p {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .proptect-content ul {
    margin: 0;
  }
  .proptect-content li {
    font-size: 18px;
    padding: 6px 0;
  }
  .whatwedo-1 .get-wrapper .container {
    padding: 12px 0;
  }
  .whatwedo-1 .get-wrapper p {
    font-size: 18px;
  }
  .whatwedo-1 .get-wrapper .get-link {
    font-size: 24px;
    line-height: 44px;
    max-width: 240px;
    margin-left: 40px;
  }
  .title-quote {
    max-width: 450px;
  }
  .title-quote p {
    font-size: 26px;
    line-height: 47px;
  }
  .title-quote .author {
    font-size: 23px;
    font-weight: 300;
  }
  .history-1 {
    background-size: cover;
  }
  .history-1 .title-quote p {
    font-size: 44px;
    line-height: 52px;
  }
  .history-1 .title-quote .author {
    font-size: 24px;
  }
  .history-1 .content {
    font-size: 18px;
    line-height: 26px;
  }
  .history-1 .founder {
    margin-left: auto;
  }
  .history-1 .founder .name {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 4px;
  }
  .history-1 .founder .proff {
    font-size: 24px;
    line-height: 28px;
  }
  .history-2 .main-title {
    font-size: 44px;
    line-height: 52px;
    max-width: 890px;
  }
  .history-2 .content .column p {
    font-size: 18px;
    line-height: 26px;
  }
  .history-2 .subtitle {
    font-size: 16px;
    line-height: 23px;
  }
  .membership-1 .container {
    padding: 24px;
    font-size: 18px;
  }
  .membership-1 .title-quote {
    max-width: 680px;
  
  }
  .membership-1 .title-quote span {
    font-size: 44px;
    line-height: 52px;
    background: #4A6877;
    padding: 10px;
  }
  .membership-1 .title-quote span.author {
    font-size: 24px;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px;
    margin-top: -12px;
  }
  .membership-1 .content {
    margin-top: 100px;
    font-size: 18px;
    line-height: 26px;
  }
  .membership-1 .container ul {
    flex-direction: row;
    margin: 0;
    padding: 10px 16px 0;
  }
  .membership-1 .container ul li {
    padding: 6px 0;
    font-size: 16px;
    line-height: 26px;
  }
  .membership-1 .content .content-title {
    font-size: 20px;
    line-height: 30px;
  }
  .membership-2 .title {
    font-size: 44px;
    line-height: 52px;
  }
  .membership-2 .subtitle {
    font-size: 28px;
    line-height: 33px;
  }
  .membership-2 .container {
    padding: 100px 0;
    max-width: 950px;
  }
  .membership-2 .container p {
    font-size: 22px;
    line-height: 20px;
    margin: 6px 0;
  }
  .membership-2 .content .column ul {
    margin: 0;
  }
  .membership-2 .content .column ul li {
    font-size: 20px;
    line-height: 26px;
    padding: 12px 0;
  }
  .membership-2 .link {
    font-size: 28px;
    line-height: 22px;
    margin: 20px auto 10px;
    padding: 16px 30px;
  }
  .membership-2 .sublink {
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
  }
  .get {
    background-position: center;
  }
  .get .container {
    padding: 160px 0;
  }
  .get .title {
    font-size: 26px;
    font-size: 44px;
    line-height: 52px;
  }
  .get .content .subtitle {
    font-size: 24px;
    line-height: 28px;
  }
  .get .content .column p {
    font-size: 20px;
    line-height: 23px;
  }
  .get .content ul li {
    font-size: 22px;
  }
  .get .content .column .create {
    font-size: 18px;
  }
  .get .content .column .link {
    font-size: 28px;
    line-height: 22px;
    padding: 24px 16px;
  }
  .get .content {
    margin-right: -50px;
  }
  .get .content .column {
    flex-basis: 24%;
  }
}
