<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#fff" />

    <title>6WAVE Experience: The Future of Digital Entertainment</title>

    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/onepage-scroll.css"
    /> -->
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo"></div>

        <a href="#desktop-nav" class="menu desktop-menu">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <a href="#mobile-nav" class="menu mobile-menu">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav-list mobile-menu" id="mobile-nav">
          <a href="#close" class="close"></a>

          <li class="nav-item active">
            <a href="#home">Home</a>
          </li>

          <li class="nav-item">
            <a href="#whatwedo">What we do</a>
          </li>

          <li class="nav-item">
            <a href="#history">Our history</a>
          </li>

          <li class="nav-item">
            <a href="#membership">Club membership</a>
          </li>

          <li class="nav-item">
            <a href="#get">Get in touch</a>
          </li>

          <li class="nav-item">
            <a href="https://hyperlootfoundation.typeform.com/to/QMCba0">Join Our Club</a>
          </li>
        </ul>

        <ul class="nav-list desktop-menu" id="desktop-nav">
          <a href="#close" class="close"></a>

          <li class="nav-item">
            <a id="moveOne" href="#1">Home</a>
          </li>

          <li id="moveTwo" id="moveOne" class="nav-item">
            <a href="#2">What we do</a>
          </li>

          <li id="moveThree" class="nav-item">
            <a onclick href="#3">Our history</a>
          </li>

          <li id="moveFour" class="nav-item">
            <a href="#4">Club membership</a>
          </li>

          <li id="moveFive" class="nav-item">
            <a href="#6">Get in touch</a>
          </li>

          <li class="nav-item">
            <a href="https://hyperlootfoundation.typeform.com/to/QMCba0">Join Our Club</a>
          </li>
        </ul>
      </div>
    </header>

    <div id="fullpage">
      <section class="about" id="home">
        <div class="container">
          <div class="about-header">
            <div class="main-title">
              Hunting for outperformance 
            </div>
          </div>

          <div class="about-content">
            <div class="column">
              <p>
                @6wave we research, syndicate and execute principal investment opportunities aligned with
                our view on global economic cycles. We work with family offices, sovereign wealth funds, 
                HNW/UHNW individuals, investment funds and their partners. We believe that COVID is similar 
                to War, it’s a major catalyst for transition from old to new. And just like the 1973 Oil Crisis 
                ended 50 year automotive & oil technology cycle. COVID Crisis is an analogue for the end of the 
				50-year Microchip & Internet cycle. 
              </p>

              <p>
                We invest in line with this transition, into macro and industry driven themes that align with the 
                6Wave framework and investment thesis. Our non-profit foundation holds an annual club-
                member events in Davos and around the world that aims to build connections between 
                incredible individuals that dare to change the world. We create a curated environment for 
                debates and discussions on the world’s biggest problems in the context of the 4th 
				Industrial Revolution and 6Wave Economics.  
              </p>
            </div>

            <div class="column">
              <div class="paragraf">
                <p>
                  Watch an  
                  <a href="https://youtu.be/C8t97F1gJHc" class="link">intro video with</a>
				  our Founder/CEO, Eugene Xata to see if there is a chemistry fit, or 
                  subscribe to our research.
                </p>
              </div>

              <p>
                "I published a book on 
                <a href="https://www.amazon.com/economic-history-future-Mega-Cycle-Xatanomics/dp/5519684103/ref=sr_1_1?dchild=1&keywords=xata+sixth+mega+cycle&qid=1589983670&sr=8-1" class="link">Sixth Mega cycles.</a>				
				Today, I work with some of the most sophisticated and 
                largest capital pools in the world including family offices, sovereign wealth funds and hedge 
                funds. I advise HNW/UHNW individuals and their family offices.
                My principles on shareholder value creation & corporate governance, are described on my 
                <a href="https://www.linkedin.com/in/evgeny-xata-8b1b9816/" class="link">LinkedIn.</a>			
                My unconventional approach, no-bullshit independence, contrarian thinking, and 
                problem solving, is best explored via zoom meeting."
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="wrapper" id="whatwedo">
        <div class="whatwedo-1">
          <div class="container">
            <div class="main-title">
              <span>Protecting capital</span> from inflation & bad decisions
            </div>

            <div class="proptect-content">
              <div class="column">
                <p>@ 6Wave we focus on outperformance. We do:</p>

                <ul>
                  <li>Macro and sector research & publications</li>
                  <li>Principal investments</li>
                  <li>
                    Syndications & Execution services (*regulatory restrictions
                    apply)
                  </li>
                </ul>
              </div>

              <div class="column">
                <p>
                  Our Investment Framework is constructed on the following 
				  foundations:
                </p>

                <ul>
                  <li>History of five -/+50Y technology cycles.</li>
                  <li>Shorter reflexive macro cycles (FX, Debt, Equities, Sectors).</li>
                  <li>Scarcity, Deficit, Clear Advantage, Endurance – value and price difference.</li>
                  <li>
                    Purpose. Not only ESG. We assign the purpose to the capital
                    we help place.
                  </li>
                  <li>
                    We look for the right people, do the right thing, in the
                    right way.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="whatwedo-2">
          <div class="container">
            <div class="title-quote">
              <p>
                "I do not learn from mistakes <br />
                I have to learn from successes"
              </p>

              <div class="author">Peter Drucker</div>
            </div>

            <div class="content">
              <p class="working">
                Working with the 6Wave team is like having The Boston Consulting
                Group and Goldman Sachs by your side at the game table. 6Wave's
                core team leads friendly and not so friendly takeovers of both
                public and private companies. We have worked across different
                sectors and cycles.  We have worked in investment banking
                through the Dotcom, Great Financial Crisis and will not be
                deterred by the  numerous Emerging Market crises. We have
                expertise in restructuring, turnarounds, operations and
                executions. We have strategy consulting and investment banking
                capabilities both on the buy and sell sides. Our international
                network of world’s biggest capital pools focused on Emerging
                markets is matched with our insightful, no-bulls**t research.
              </p>

              <div class="man">
                <div class="name">Eugene Xata</div>

                <a href="https://www.linkedin.com/in/evgeny-xata-8b1b9816/" class="linkedin">
                  <svg
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect width="27" height="27" rx="13.5" fill="#0077B5" />
                    <path
                      d="M20.995 19.8703C20.1091 19.8492 19.2443 19.8492 18.3583 19.8703C18.1685 19.8703 18.1263 19.8281 18.1263 19.6383C18.1263 18.0773 18.1263 16.4953 18.1263 14.9344C18.1263 14.5758 18.1052 14.2172 17.9997 13.8797C17.6833 12.7828 16.4177 12.382 15.5107 13.1203C15.0255 13.5 14.8357 14.0273 14.8357 14.6601C14.8357 16.1367 14.8357 17.6133 14.8357 19.0898C14.8357 19.2797 14.8146 19.4695 14.8357 19.6805C14.8568 19.8492 14.7724 19.8914 14.6247 19.8703C13.7177 19.8703 12.8318 19.8703 11.9247 19.8703C11.756 19.8703 11.7138 19.8281 11.7138 19.6594C11.7349 18.3305 11.7349 17.0015 11.7349 15.6515C11.7349 14.0062 11.7349 12.3609 11.7138 10.7367C11.7138 10.5469 11.756 10.5047 11.9247 10.5047C12.8318 10.5047 13.7177 10.5047 14.6247 10.5047C14.7935 10.5047 14.8357 10.5469 14.8357 10.7156C14.8357 11.0531 14.8357 11.3906 14.8357 11.7914C14.8989 11.7281 14.92 11.707 14.9411 11.6859C15.7638 10.4836 16.9239 10.1461 18.295 10.357C19.8771 10.6101 20.8896 11.707 21.1427 13.3945C21.206 13.7953 21.2271 14.1961 21.2271 14.5969C21.2271 16.2844 21.2271 17.9508 21.2271 19.6383C21.2271 19.807 21.1849 19.8703 20.995 19.8703Z"
                      fill="white"
                    />
                    <path
                      d="M10.0263 15.1875C10.0263 16.664 10.0263 18.1406 10.0263 19.6172C10.0263 19.807 9.9841 19.8703 9.79426 19.8703C8.90832 19.8492 8.02238 19.8703 7.13644 19.8703C6.96769 19.8703 6.92551 19.8281 6.92551 19.6594C6.92551 16.6851 6.92551 13.6898 6.92551 10.7156C6.92551 10.568 6.96769 10.5047 7.13644 10.5047C8.04348 10.5047 8.95051 10.5047 9.85754 10.5047C10.0474 10.5047 10.0685 10.568 10.0685 10.7367C10.0263 12.2133 10.0263 13.6898 10.0263 15.1875Z"
                      fill="white"
                    />
                    <path
                      d="M10.1739 8.05779C9.96301 8.90154 9.09816 9.3867 8.10676 9.21795C7.05207 9.0492 6.46144 8.01561 6.84113 7.00311C7.09426 6.37029 7.70598 5.99061 8.48644 6.0117C9.66769 5.99061 10.4482 6.93982 10.1739 8.05779Z"
                      fill="white"
                    />
                  </svg>

                  <span>Linkedin</span>
                </a>
              </div>

              <div class="report">
                <span>"Where is the Future Cash?"</span> is our most recent
                report (April 2020)
              </div>

              <p>Our pipeline for the next few months:</p>

              <ul>
                <li>
                  <span>In May, 2020, Bulls vs Bears.</span> Politics, Central
                  Banks, MMT and WTF markets
                </li>
                <li>
                  <span
                    >In June 2020, Big Data, Cybersecruity, infrastructure
                    software:</span
                  >
                  the 6Wave cluster of public equities
                </li>
                <li>
                  <span
                    >In July 2020, 5G & Gaming, AR/VR and mobile esports</span
                  >
                </li>
              </ul>

              <p>
                All reports are available to club members and selected
                accredited investors
              </p>
            </div>
            <div class="xata"></div>
          </div>
        </div>
      </section>

      <section class="wrapper" id="history">
        <div class="history-1">
          <div class="container">
            <div class="title-quote">
              <p>
                We cannot solve our problems with the same thinking we used when
                we created them
              </p>
              <div class="author">Albert Einstein</div>
            </div>

            <div class="content">
              <p>
                I was born in USSR on 19th of December 1978, I grew in the
                boarding school and at the age of seven started trading soccer
                player cards for cash, made and lost huge fortune. By 12 I
                became fascinatedl by macroeconomics. At age of 15 I left my
                country, did a short stint in Washington DC and  ended up in
                Bryant IOWA, working on a pig farm in the middle of nowhere
                in Iowa.
              </p>

              <p>
                I ended up graduating with honors from Oxford University in UK,
                worked in bulge bracket strategy consulting, lead multi billion
                M&A transactions for S&P500, built from scratch #3 broker/dealer
                operations and investment bank in Ukraine, sponsored funds, and
                organized hundreds of SPVs for the acquisition and resale of
                various assets.  I published a book on  Six Mega cycles.  Today,
                I work with some of the most sophisticated and largest capital
                pools in the world including family offices, sovereign wealth
                funds and hedge funds. I advise HNW/UHNW individuals and their
                family offices.
              </p>

              <p>
                My principles on shareholder value creation & corporate
                governance, are described on my LinkedIn. I can share our core
                beliefs, unconventional approach, no-bullshit independence,
                contrarian thinking, and problem solving, via Q&A.
              </p>
            </div>

            <div class="founder">
              <div class="photo">
                <img src="./assets/ava.png" alt="" />
              </div>

              <div class="info">
                <div class="name">Eugene Xata</div>
                <div class="proff">CEO/Founder @6Wave</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="history-2">
        <div class="container">
          <div class="main-title">
            250 years of economic track record is not a guarentte for success,
            <span>but can you afford to bet against it?</span>
          </div>

          <div class="content">
            <div class="column">
              <p>
                6Wave was created through the desire to see what others don’t.
                It was founded on a love for economic history the last five,
                +/-50 year technology cycles, and hundreds of smaller
                deb/business cycles. 6Wave was founded by Eugene Xata in
                2019,  following the publication of his book. History repeats
                itself because human nature does not change.
              </p>

              <p>
                Today we live in the Kondratieff Winter phase of the last mega
                cycle. The phase where slowing productivity of microchip is no
                longer able to generate the historical rates of productivity
                growth. Overcapacity has become a problem with  broadly
                declining profit margins — overleveraging was already evident
                last several years prior to COVID impact.
              </p>
            </div>

            <div class="column">
              <p>
                Bankruptcies and economic turbulences, structural
                unemployment, protectionism, civil unrests, political
                instability and wars are all becoming part of the new world
                which capital pools need to acknowledge.
              </p>

              <p>
                Historically there are only a few big picture outcomes.
                Unlikely scenarios  are wars or productivity breakthroughs and
                more likely is Inflation or Deflation. @6Wave we believe that
                Fiat and Bonds have turned into vehicles for wealth
                confiscation and are no longer able to be the cornerstone for
                long term wealth preservation during the transition phase and
                paradigm shift. Negative yields, MMT thinking are all warning
                signs. @6Wave we help clients to re-position their portfolios
                to improve their chance of survival.
              </p>
            </div>
          </div>
          <div class="subtitle">
            *Regulatory restrictions apply depending on your jurisdiction. Our
            services only for accredited and sophisticated investors.
          </div>
        </div>
      </section>

      <section class="wrapper" id="membership">
        <div class="membership-1">
          <div class="container">
            <div class="title-quote">
              <p>Goodness is the only investment that never fails</p>
              <div class="author">Henry David Thoreau</div>
            </div>

            <div class="content">
              <div class="content-title">
                6Wave nonprofit was created in 2019 with the aim to:
              </div>

              <ul>
                <li>
                  Build connections between individuals that dare to change the
                  world. To bring the real movers and shakers together with some
                  of the largest capital pools.
                </li>
                <li>
                  Curate debates and discussions on the world’s biggest problems
                  in the context 6Wave Economics.
                </li>
              </ul>

              <p>
                Our discussions are interactive and open mic. We encourage a diversity of views, out-of-the-
                box thinking, creativity, structure, rigor, and synthesis. We are looking to create an 
                environment where people can frame the world’s most important problems, discuss solutions 
				based on the 80/20 rule and empower us to take actions. We have speaking opportunities for 
				leaders and innovators. Reach out if you think you belong in this discussion or want to become 
				one of our regional or thematic partners. 
              </p>

              <p>
                We are looking to create an environment where people can frame
                the world’s most important problems, discuss solutions based on
                80/20 rule and empower us to take actions. Our discussions are
                impact driven. Speaking opportunities for leaders and
                innovators. Reach out if you think you belong in this discussion
                or want to become one of our regional or thematic partners.
              </p>
            </div>
          </div>
        </div>

        <div class="membership-2">
          <div class="container">
            <div class="title">6wave experience</div>
            <div class="subtitle">Membership Club</div>

            <p>6Wave club members have the following benefits:</p>

            <div class="content">
              <div class="column">
                <ul>
                  <li>
                    <span
                      >The best global leisure and entertainment venues, retreats (cultural discoveries, healing 
                      and rejuvenation experiences).</span>
                  </li>
                  <li>
                    <span>Access to rare investment opportunities in line with 6Wave investment framework and</span>
                    themes. Member will be pre-vetted*.
                  </li>
                  <li>
                    <span>Access to other club members via informal and discrete networking experiences.</span>
                  </li>
                </ul>
              </div>

              <div class="column">
                <ul>
                  <li>
                    <span
                      >Ability to act as a syndicate lead for your projects if fits 6Wave philosophy*.</span
                    >
                  </li>
                  <li>
                    <span
                      >Monthly access to unique macro global insights, FX, debt and equity analysis.</span
                    >
                  </li>
                  <li>
                    <span>Ability to do Q&A session</span> with 6Wave think tank
                    research team.
                  </li>
                  <li>
                    <span>Access to all our private events around the world,</span> including our key annual Davos gathering.
                  </li>
                </ul>
              </div>
            </div>
            <a href="#" class="link">
              Request no obligation trial, see if you qualify
            </a>
            <div class="sublink">*regulations & restrictions apply</div>
          </div>
        </div>
      </section>

      <section class="get" id="get">
        <div class="container">
          <div class="title">Get in touch</div>

          <div class="content">
            <div class="column">
              <div class="subtitle">Our social media</div>

              <p>@6Wave social media</p>

              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/evgeny-xata-8b1b9816/">Linkedin</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/yevgeniy.khata">Facebook</a>
                </li>
                <li>
                  <a href="https://youtu.be/7WGKPyEjiEE">Youtube</a>
                </li>
                <li>
                  <a href="https://twitter.com/xatanomics">Twitter</a>
                </li>
              </ul>
            </div>

            <div class="column">
              <div class="subtitle">Our locations</div>

              <p>@6Wave social media</p>

              <ul>
                <li>Toronto</li>
                <li>London</li>
                <li>Moscow</li>
                <li>Zurich</li>
                <li>Monaco</li>
              </ul>

            </div>

            <div class="column">
              <div class="subtitle">GET IN TOUCH</div>

              <p>What is your interest?</p>

              <a href="https://discordapp.com/channels/@me/649596146192482314/712813060351328358" class="link">Start here</a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
      if(screen && screen.width > 1024) {
        document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/jquery.onepage-scroll.js"><\/script>');
        document.write('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/onepage-scroll.css"/>');
      }
    </script>

    <script>
      if(screen && screen.width > 1024) {
        $("#fullpage").onepage_scroll({
          easing: "ease",
          sectionContainer: "section",
          animationTime: 1000,
          loop: false,
          pagination: false,
          keyboard: true,
          responsiveFallback: false,
          direction: "vertical",
        });

        $("#moveOne").on('click', () => {
          $("#fullpage").moveTo(1)
        });

        $("#moveTwo").on('click', () => {
          $("#fullpage").moveTo(2)
        });

        $("#moveThree").on('click', () => {
          $("#fullpage").moveTo(3)
        });

        $("#moveFour").on('click', () => {
          $("#fullpage").moveTo(4)
        });

        $("#moveFive").on('click', () => {
          $("#fullpage").moveTo(6)
        });
      }
    </script>
  </body>
</html>
